---

- name: '[External Secrets] create a secret on AWS'
  aws_secret:
    name: 'hello-service/password'
    state: present
    secret_type: 'string'
    secret: "1234"
    region: "{{ aws_region }}"

- name: '[External Secrets] Delete external secret on Openshift'
  k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: absent
    definition: "{{ lookup('template', item ) | from_yaml }}"
  loop:
  - ./files/hello_external_secret.yml

- pause:
    seconds: 5

- name: '[External Secrets] create secret on Openshift'
  k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition: "{{ lookup('template', item ) | from_yaml }}"
  loop:
  - ./files/hello_external_secret.yml

- name: '[External Secrets] Read secret'
  k8s_info:
    kubeconfig: "{{ kubeconfig }}"
    api_version: v1
    kind: secret
    name: hello-service
    namespace: default
  register: secret

- name: '[External Secrets] Set fact'
  set_fact:
    password: "{{ secret.resources[0].data.password | b64decode  }}"

- name: '[External Secrets] Is password correct?'
  debug:
    msg: "continue"
  when:
    - password == "1234"

