---

- name: "[External Secrets] Add repo"
  ignore_errors: true
  community.kubernetes.helm_repository:
    name: external-secrets
    repo_url: "https://godaddy.github.io/kubernetes-external-secrets"

- name: "[External Secrets] Upgrade from chart"
  community.kubernetes.helm:
    name: kubernetes-external-secrets
    values: "{{ lookup('template', 'external_secret_values.yml.j2') | from_yaml }}"
    kubeconfig: "{{ kubeconfig }}"
    release_namespace: "{{ esecret_namespace }}"
    chart_ref: external-secrets/kubernetes-external-secrets
    release_state: present

- pause:
    seconds: 5

- name: '[External Secrets] Adjust the rbac properly'
  k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    definition: "{{ lookup('template', item ) | from_yaml }}"
  loop:
  - ./templates/rbac.yml.j2

# Necessary if aws credentials are renew, or recreated
- name: "[External Secrets] Replicas to 0"
  k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    api_version: v1
    kind: Deployment
    merge_type: merge
    namespace: "{{ esecret_namespace }}"
    name: kubernetes-external-secrets
    definition:
      spec:
        replicas: 0

# Necessary if aws credentials are renew, or recreated
- name: "[External Secrets] Replicas to 3"
  k8s:
    kubeconfig: "{{ kubeconfig }}"
    state: present
    api_version: v1
    kind: Deployment
    merge_type: merge
    namespace: "{{ esecret_namespace }}"
    name: kubernetes-external-secrets
    definition:
      spec:
        replicas: "{{ esecret_replicas }}"

- pause:
    seconds: 15
